@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

html {
	font-size: 62.5%;
}

body {
	box-sizing: border-box;
	font-family: 'Montserrat', sans-serif;
}

.App {
}
.main-container{
	text-align: center;
	font-size: 4rem;
	min-height: 100vh;
	width: 100%;
	background-color: rgb(49, 49, 49);
	color: beige;
	padding: 2rem;

}
/* Navbar */

  .nav {
	height: 50px;
	width: 100%;
	background-color: #ffe817;
	position: relative;
  }
  
  .nav > .nav-header {
	display: inline;
  }
  
  .nav > .nav-header > .nav-title {
	display: inline-block;
	font-size: 22px;
	color: rgb(0, 0, 0);
	padding: 10px 10px 10px 10px;
  }
  
  
  
  .nav > .nav-links {
	display: inline;
	float: right;
	font-size: 18px;
  }
  
  .nav > .nav-links > a {
	display: inline-block;
	padding: 13px 10px 13px 10px;
	text-decoration: none;
	color: #000000;
  }
  
  .nav > .nav-links > a:hover {
	background-color: rgba(0, 0, 0, 0.3);
  }
  
  .nav > #nav-check {
	display: none;
  }
  
  @media (max-width:600px) {
	.nav > .nav-btn {
	  display: inline-block;
	  position: absolute;
	  right: 0px;
	  top: 0px;
	}
	.nav > .nav-btn > label {
	  display: inline-block;
	  width: 50px;
	  height: 50px;
	  padding: 13px;
	}
	.nav > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
	  background-color: rgba(0, 0, 0, 0.3);
	}
	.nav > .nav-btn > label > span {
	  display: block;
	  width: 25px;
	  height: 10px;
	  border-top: 2px solid #eee;
	}
	.nav > .nav-links {
	  position: absolute;
	  display: block;
	  width: 100%;
	  background-color: #333;
	  height: 0px;
	  transition: all 0.3s ease-in;
	  overflow-y: hidden;
	  top: 50px;
	  left: 0px;
	}
	.nav > .nav-links > a {
	  display: block;
	  width: 100%;
	}
	.nav > #nav-check:not(:checked) ~ .nav-links {
	  height: 0px;
	}
	.nav > #nav-check:checked ~ .nav-links {
	  height: calc(100vh - 50px);
	  overflow-y: auto;
	}
  }

form {
	padding: 5rem;
}

.form input {
	margin-right: 2rem;
	border: none;
	height: 3.5rem;
	width: 100%;
	max-width: 50rem;
	border-radius: 25px;
	padding: 2rem;
	outline: none;
	transition: all 0.2s;
	display: inline-block;
	font-family: 'Montserrat', sans-serif;
}

.form input:active,
.form input:focus {
	transform: scale(1.04);
}

.form button {
	border: none;
}

.todo-list ul {
	width: 100%;
}

button {
	text-decoration: none;
	text-transform: uppercase;
	padding: 1rem 4rem;
	border-radius: 10rem;
	display: inline-block;
	transition: all 0.2s;
	border: none;
	cursor: pointer;
	margin: 1rem;
	background-color: rgb(255, 255, 49);
	font-family: 'Montserrat', sans-serif;
}

button:hover {
	transform: translateY(-0.3rem);
	box-shadow: 0 1rem 1rem rgba(rgb(99, 99, 99), 0.3);
}

button:active,
button:focus {
	outline: none;
	transform: translateY(-0.1rem);
	box-shadow: 0 0.5rem 0.5rem rgba(rgb(99, 99, 99), 0.3);
}

.button-todo {
	margin: 1rem;
	display: inline-block;
	transition: all 0.2s;
	cursor: pointer;
	margin: 1rem;
}

.button-todo:hover {
	transform: translateY(-0.3rem);
	box-shadow: 0 1rem 1rem rgba(rgb(99, 99, 99), 0.3);
}

.button-todo:active,
.button-todo:focus {
	outline: none;
	transform: translateY(-0.1rem);
	box-shadow: 0 0.5rem 0.5rem rgba(rgb(99, 99, 99), 0.3);
}

.btn-complete {
	color: greenyellow;
}
.btn-comment {
	color: rgb(145, 242, 255);
}
.btn-close {
	color: rgba(255, 0, 0, 0.74);
}
.todo-list ul {
	padding: 3rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	font-family: 'Montserrat', sans-serif;
}

.todo-container {
	width: 100%;
	max-width: 50rem;
	display: flex;
	font-size: 2rem;
	flex-direction: column;
	background-color: rgb(59, 59, 59);
	border-radius: 0.5rem;
	margin: 1rem;
}

.toto-body {
	display: inline-flex;
	font-size: 2rem;
	flex-direction: row;
	justify-content: center;
}

.toto-body li {
	width: 100%;
	list-style: none;
	display: inline;
	margin: 1rem;
}

.todo-data {
	display: flex;
	justify-content: flex-start;
}

.comment {
	padding: 1rem;
	margin-bottom: 1rem;
	border-radius: .5rem;
	outline-color: rgb(104, 104, 104);
	font-family: 'Montserrat', sans-serif;
}
